
   .label{
    background-image: url("assets/images/login.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: baseline;
    color: black;
    font-size: 16px;
    font-weight: bold;
    height: 15px;
    text-transform: capitalize;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
   }

.profile{
    color: black;
    font-family: "Inika,Calibri,Laila,sans-serif";
    font-weight: bold;
    text-transform: capitalize;
    padding-right: 30px; 
}

